# Swap files.
.*.swp
.*.swo
*~

*.pyc
*.pyo
*.pyd
*.so
*.o
*.a
*.cpp

build/
dist/
_skbuild
_lock_profiler.c
lock_profiler.egg-info/
MANIFEST
pypi-site-docs.zip
index.html
CMake*
!lock_profiler/CMakeLists.txt
Makefile

.coverage
tests/coverage.xml
tests/htmlcov
wheelhouse
