include *.md
include *.rst
include *.py
include *.txt
include *.toml
include *.css
include run_tests.sh
recursive-include requirements *.txt
recursive-include tests *.py
recursive-include lock_profiler *.txt
recursive-include lock_profiler *.pyx
recursive-include lock_profiler *.pxd
recursive-include lock_profiler *.pyd
recursive-include lock_profiler *.c
recursive-include lock_profiler *.h
recursive-include lock_profiler *.css
