body {
    background: gray;
}



.with-lock {
    position: absolute;
    background: green;
    z-index: 1;
}


.wait {
    position: absolute;
    background: red;
    z-index: 2;
}
.wait:hover {
    background: blue;
}
